* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-image: url(/img/imag1.png);
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    background-color: #1a1a1a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}


